* {
  padding: 0;
  font-family: inter, serif;
}

@media only screen and (min-width: 768px) {
  .right-img {
    position: absolute;
    width: 7.938rem;
    height: 5.625rem;
    left: -0.125rem;
    top: 0;
  }

  header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }

  header ul {
    position: absolute;
    right: 1rem;
  }

  .bar_icon {
    display: none;
  }

  .heading {
    position: absolute;
    width: 14.95rem;
    height: 6.25rem;
    left: 0.75rem;
    top: 3.25rem;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.29rem;
    line-height: 4rem;
    color: #1a2236;
  }

  .description {
    position: absolute;
    width: 20rem;
    height: 19.188rem;
    left: 1rem;
    top: 14.813rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .second_part {
    display: block;
    margin-top: 5%;
  }

  .collaboration_btn {
    box-sizing: border-box;
    position: absolute;
    width: 22rem;
    height: 3.9rem;
    left: 1rem;
    font-size: 1.5rem;
    top: 26rem;
    background: #1a2236;
    color: #fff;
  }

  .collaboration_btn:hover {
    border: 1px solid #1a2236 !important;
    background: #fff;
    color: #1a2236;
  }

  .slider_img {
    position: absolute;
    width: 29%;
    height: 160px;
    left: 0;
    top: 32rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .right-img {
    position: absolute;
    width: 7.938rem;
    height: 5.625rem;
    left: -0.125rem;
    top: 0;
  }

  .bar_icon {
    position: absolute;
    width: 1.5rem;
    height: 0.875rem;
    right: 1.3rem;
    top: 1.35rem;
  }

  .nav-bar {
    display: none !important;
  }

  .heading {
    position: absolute;
    width: 14.95rem;
    height: 6.25rem;
    left: 0.75rem;
    top: 3.25rem;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.29rem;
    line-height: 4rem;
    color: #1a2236;
  }

  .description {
    position: absolute;
    width: 20rem;
    height: 19.188rem;
    left: 1rem;
    top: 14.813rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .second_part {
    display: block;
    margin-top: 5%;
  }

  .collaboration_btn {
    box-sizing: border-box;
    position: absolute;
    width: 22rem;
    height: 3.9rem;
    left: 1rem;
    font-size: 1.5rem;
    top: 26rem;
    background: #1a2236;
    color: #fff;
  }

  .collaboration_btn:hover {
    border: 1px solid #1a2236 !important;
    background: #fff;
    color: #1a2236;
  }

  .collaboration_btn:active {
    border: 2px solid #1a2236 !important;
    background: #fff;
    color: #1a2236;
    font-weight: bolder;
  }

  .slider_img {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0;
    top: 32rem;
  }
  .main h1{
    /* position: absolute; */
    width: 181px;
    height: 50px;
    /* left: 16px; */
    /* top: 672px; */

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    /* identical to box height, or 50px */


    color: #1A2236;
  }
  #portfolio {
    position: relative !important;
    display: contents;
  }

  .project_img {
    position: absolute;
    width: 100%;
    height: 11.625rem;
    left: 0px;
    top: 51rem;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }
  .content-box {
    width: 100%;
    position: absolute;
    height: 156px;
    left: 0px;
    top: 62.5rem;
    background: #1A2236;
        /* backdrop-filter: blur(0.5px); */
  }
  /* .grid-container {
    display: grid;
    grid-template-columns: 20% 25% 20% auto;
    padding: 3%;
  }
  .grid-items {
    padding: 20px;
    font-size: 30px;
    gap:2px text-align: center;
  } */
  .inner-grid {
    display: grid;
    grid-template-columns: 20% 25% 20% auto;
    padding: 3%;
  }
  .inner-grid-items {
    background-color: #98DEDE;
    font-size: 0.8rem;
    margin-left: 7%;
    padding: 2.5%;
    text-align: center;
  }
  .project_name {
    color: #fff;
    font-family: 'Poppins',serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 80%;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .take_tour {
    width: 10rem;
    margin-left: 5%;
    height: 2.75rem;
    color: #fff;
    background: #1A2236;
    border: 0.333333px solid rgb(255 255 255);
    backdrop-filter: blur(0.5px);
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .btn_text {
    margin-left: 9%;
    float: left;
  }
  
  .main {
    max-width: 100%;
    margin: 0 auto; }
  
  @supports (display: grid) {
    .main {
      max-width: 100% !important;
      margin: 0; 
      padding: 0;
      margin-top:42rem;  
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      
    }
    article {
      margin: 0; 
      padding: 0;  
      background: #1A2236;
    }
 }
  
  article {
    display: flex;
    flex-flow: column; 
    }
  
    article > img {
        width: 100%;
    }
  
  
  
  article > h1 {
    margin: 1rem 1rem 0; }
  
    article > ul {
        margin: 0 0 1rem; 
        margin-top: 3%;
    }
    article >ul >li {
        background: #98DEDE;
        color: #1A2236;
        width: 16%;
        /* margin: 0px; */
        text-align: center;
        float: left;
        padding: 1%;
        margin-left: 4%;
    }
  
  article > p {
    margin: 0.25em 1rem 1rem; }
  
  .main {
    font-family: Avenir, Roboto, Helvetica, san-serif;
    font-size: 80%; }
  
    #about >h1 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 3.125rem;
        line-height: 100%;
        margin-bottom: 1%;
        color: #1A2236;
    }
    .about_para {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.12rem;
        line-height: 1.313rem;
        margin-top: 3%;
        color: #1A2236;
    }
    #languages {
        width: 100%;
        height: 18.063rem;
        background: #1C528A;
        position: relative;
    }
    #frameworks {
        width: 100%;
        height: 18.063rem;
        background: #E2505C;
        position: relative;
    }
    #skills {
        width: 100%;
        height: 18.063rem;
        background: #FEBF52;
        position: relative;
    }
    .langs {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 1.25rem;
        line-height: 1.875rem;
        /* identical to box height */
        padding: 11%;
        margin-left: 20%;

        color: #FFFFFF;

    }
    .hash {
        position: absolute;
        width: 6.375rem;
        height: 6.375rem;
        right: 0;
        bottom: 0;
    }
    .lang-items {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.688rem;
        letter-spacing: -0.0525em;

        color: #FFFFFF;
    }
    #contact {
        position: relative;
        background: #F9F9FA;
        height: 44.5rem;
    }
    .top_icon {
        
        position: absolute;
        width: 7.938rem;
        height: 5.625rem;
        left: -1rem;
        top: 1rem;
        
    }
    #contact >h1 {
        position: absolute;
        width: 100%;
        height: 3.125rem;
        left: 1rem;
        top: 6rem;

        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 3.125rem;
        line-height: 100%;
        /* identical to box height, or 50px */


        color: #1A2236;
    }
    #contact >p {
        position: absolute;
        width: 100%;
        height: 63px;
        left: 1rem;
        top: 12rem;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.27rem;
        letter-spacing: -0.01em;

        color: #1A2236;
    }
    .label-name {
        position: absolute;
        width: 100%;
        height: 0.98rem;
        left: 1rem;
        top: 20rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.96rem;
        /* identical to box height */
        color: #7D7C84;

    }
    .input-name {
        box-sizing: border-box;

        position: absolute;
        width: 92%;
        height: 3.25rem;
        left: 1rem;
        top: 21rem;

        background: #FFFFFF;
        border: 1px solid #1A2236;
        border-radius: 4px;
    }
    .label-email {
        position: absolute;
        width: 100%;
        height: 0.98rem;
        left: 1rem;
        top: 25rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.96rem;
        /* identical to box height */
        color: #7D7C84;

    }
    .input-email {
        box-sizing: border-box;

        position: absolute;
        width: 92%;
        height: 3.25rem;
        left: 1rem;
        top: 26rem;

        background: #FFFFFF;
        border: 1px solid #1A2236;
        border-radius: 4px;
    }
    .label-message {
        position: absolute;
        width: 100%;
        height: 0.98rem;
        left: 1rem;
        top: 30rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.96rem;
        /* identical to box height */
        color: #7D7C84;

    }
    .input-message {
        box-sizing: border-box;

        position: absolute;
        width: 92%;
        height: 7rem;
        margin-bottom: 3%;
        left: 1rem;
        top: 31rem;

        background: #FFFFFF;
        border: 1px solid #1A2236;
        border-radius: 4px;
    }
    .send_feeed {
        position: absolute;
        width: 92%;
        color: white;
        height: 2.75rem;
        left: 1rem;
        top: 40rem;
        font-size: 1rem;    
        background: #1A2236;
    }
    .send_feeed:hover {
        border: 1px solid #1a2236 !important;
        color: #1A2236;
        background: #fff;
    }
    .send_feeed:active {
        border: 2px solid #1a2236 !important;
        color: #1A2236;
        background: #fff;
    }
}
