* {
  padding: 0;
  font-family: inter, serif;
}

@media only screen and (min-width: 768px) {
  .right-img {
    position: absolute;
    width: 7.938rem;
    height: 5.625rem;
    left: -0.125rem;
    top: 0;
  }

  header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }

  header ul {
    position: absolute;
    right: 1rem;
  }

  .bar_icon {
    display: none;
  }

  .heading {
    position: absolute;
    width: 14.95rem;
    height: 6.25rem;
    left: 0.75rem;
    top: 3.25rem;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.29rem;
    line-height: 4rem;
    color: #1a2236;
  }

  .description {
    position: absolute;
    width: 20rem;
    height: 19.188rem;
    left: 1rem;
    top: 14.813rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .second_part {
    display: block;
    margin-top: 5%;
  }

  .collaboration_btn {
    box-sizing: border-box;
    position: absolute;
    width: 22rem;
    height: 3.9rem;
    left: 1rem;
    font-size: 1.5rem;
    top: 26rem;
    background: #1a2236;
    color: #fff;
  }

  .collaboration_btn:hover {
    border: 1px solid #1a2236 !important;
    background: #fff;
    color: #1a2236;
  }

  .slider_img {
    position: absolute;
    width: 29%;
    height: 160px;
    left: 0;
    top: 32rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
  .right-img {
    position: absolute;
    width: 7.938rem;
    height: 5.625rem;
    left: -0.125rem;
    top: 0;
  }

  .bar_icon {
    position: absolute;
    width: 1.5rem;
    height: 0.875rem;
    right: 1.3rem;
    top: 1.35rem;
  }

  .nav-bar {
    display: none !important;
  }

  .heading {
    position: absolute;
    width: 14.95rem;
    height: 6.25rem;
    left: 0.75rem;
    top: 3.25rem;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.29rem;
    line-height: 4rem;
    color: #1a2236;
  }

  .description {
    position: absolute;
    width: 20rem;
    height: 19.188rem;
    left: 1rem;
    top: 14.813rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .second_part {
    display: block;
    margin-top: 5%;
  }

  .collaboration_btn {
    box-sizing: border-box;
    position: absolute;
    width: 22rem;
    height: 3.9rem;
    left: 1rem;
    font-size: 1.5rem;
    top: 26rem;
    background: #1a2236;
    color: #fff;
  }

  .collaboration_btn:hover {
    border: 1px solid #1a2236 !important;
    background: #fff;
    color: #1a2236;
  }

  .collaboration_btn:active {
    border: 2px solid #1a2236 !important;
    background: #fff;
    color: #1a2236;
    font-weight: bolder;
  }

  .slider_img {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0;
    top: 32rem;
  }

  article > h2 {
    margin: 1rem 1rem 0;
  }

  .main h2 {
    /* position: absolute; */
    width: 181px;
    height: 50px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  #portfolio {
    position: relative !important;
    display: contents;
  }

  .project_img {
    position: absolute;
    width: 100%;
    height: 11.625rem;
    left: 0;
    top: 51rem;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
  }

  .content-box {
    width: 100%;
    position: absolute;
    height: 156px;
    left: 0;
    top: 62.5rem;
    background: #1a2236;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: 20% 25% 20% auto;
    padding: 3%;
  }

  .inner-grid-items {
    background-color: #98dede;
    font-size: 0.8rem;
    margin-left: 7%;
    padding: 2.5%;
    text-align: center;
  }

  .project_name {
    color: #fff;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 80%;
    margin-left: 5%;
    margin-bottom: 3%;
  }

  .take_tour {
    width: 10rem;
    margin-left: 5%;
    height: 2.75rem;
    color: #fff;
    background: #1a2236;
    border: 0.333333px solid rgb(255 255 255);
    backdrop-filter: blur(0.5px);
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 1rem;
  }

  .btn_text {
    margin-left: 9%;
    float: left;
  }

  .main {
    max-width: 100%;
    margin: 0 auto;
  }

  @supports (display: grid) {
    .main {
      max-width: 100% !important;
      margin: 0;
      padding: 0;
      margin-top: 42rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    article {
      margin: 0;
      padding: 0;
      background: #1a2236;
    }
  }

  article {
    display: flex;
    flex-flow: column;
  }

  article > img {
    width: 100%;
  }

  article > ul {
    margin: 0 0 1rem;
    margin-top: 3%;
  }

  article > ul > li {
    background: #98dede;
    color: #1a2236;
    width: 16%;
    font-size: 0.646rem;
    /* margin: 0px; */
    text-align: center;
    float: left;
    padding: 1%;
    margin-left: 4%;
  }

  article > p {
    margin: 0.25em 1rem 1rem;
  }

  #about > h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 100%;
    margin-bottom: 1%;
    color: #1a2236;
  }

  .about_para {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.313rem;
    margin-top: 3%;
    color: #1a2236;
  }

  #languages {
    width: 100%;
    height: 18.063rem;
    background: #1c528a;
    position: relative;
  }

  #frameworks {
    width: 100%;
    height: 18.063rem;
    background: #e2505c;
    position: relative;
  }

  #skills {
    width: 100%;
    height: 18.063rem;
    background: #febf52;
    position: relative;
  }

  .langs {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.875rem;

    /* identical to box height */
    padding: 11%;
    margin-left: 20%;
    color: #fff;
  }

  .hash {
    position: absolute;
    width: 6.375rem;
    height: 6.375rem;
    right: 0;
    bottom: 0;
  }

  .lang-items {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.688rem;
    letter-spacing: -0.0525em;
    color: #fff;
  }

  #contact {
    position: relative;
    background: #f9f9fa;
    height: 43.5rem;
  }

  .top_icon {
    position: absolute;
    width: 7.938rem;
    height: 5.625rem;
    left: -1rem;
    top: 1rem;
  }

  #contact > h2 {
    position: absolute;
    width: 100%;
    height: 3.125rem;
    left: 1rem;
    top: 6rem;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.125rem;
    line-height: 100%;

    /* identical to box height, or 50px */

    color: #1a2236;
  }

  #contact > p {
    position: absolute;
    width: 100%;
    height: 63px;
    left: 1rem;
    top: 12rem;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.27rem;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .label-name {
    position: absolute;
    width: 100%;
    height: 0.98rem;
    left: 1rem;
    top: 20rem;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.96rem;

    /* identical to box height */
    color: #7d7c84;
  }

  .input-name {
    box-sizing: border-box;
    position: absolute;
    width: 92%;
    height: 3.25rem;
    left: 1rem;
    top: 21rem;
    background: #fff;
    border: 1px solid #1a2236;
    border-radius: 4px;
  }

  .label-email {
    position: absolute;
    width: 100%;
    height: 0.98rem;
    left: 1rem;
    top: 25rem;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.96rem;

    /* identical to box height */
    color: #7d7c84;
  }

  .input-email {
    box-sizing: border-box;
    position: absolute;
    width: 92%;
    height: 3.25rem;
    left: 1rem;
    top: 26rem;
    background: #fff;
    border: 1px solid #1a2236;
    border-radius: 4px;
  }

  .label-message {
    position: absolute;
    width: 100%;
    height: 0.98rem;
    left: 1rem;
    top: 30rem;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.96rem;

    /* identical to box height */
    color: #7d7c84;
  }

  .input-message {
    box-sizing: border-box;
    position: absolute;
    width: 92%;
    height: 7rem;
    margin-bottom: 3%;
    left: 1rem;
    top: 31rem;
    background: #fff;
    border: 1px solid #1a2236;
    border-radius: 4px;
  }

  .send_feeed {
    position: absolute;
    width: 92%;
    color: white;
    height: 2.75rem;
    left: 1rem;
    top: 40rem;
    font-size: 1rem;
    background: #1a2236;
  }

  .send_feeed:hover {
    border: 1px solid #1a2236 !important;
    color: #1a2236;
    background: #fff;
  }

  .send_feeed:active {
    border: 2px solid #1a2236 !important;
    color: #1a2236;
    background: #fff;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-container > div {
    /* background-color: #f1f1f1; */
    width: 100px;

    /* margin: 10px; */
    text-align: center;
    line-height: 4.688rem;
    font-size: 1.875rem;
  }

  #footer {
    background-color: #1a2236;
  }

  #footer > h2 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #92dcdc;
    padding: 1rem;
    margin-left: 5rem;
    padding-top: 3rem;
    margin-bottom: 0;
  }
}
